<div>
    <header>
        <h1></h1>
        <div>
            <label for="searchInput">Search by subject</label>
            <input type="text" id="searchInput" [(ngModel)]="searchString">
            <button (click)="getEverything(searchString, currentPage, pageSize)" [disabled]="searchString.length < 3">Search</button>
        </div>
        <div>
            <select (change)="switchPageSize()">
                <ng-container *ngFor="let size of pageSizes">                    
                    <option [value]="size" [selected]="pageSize === size">{{ size }}</option>
                </ng-container>
            </select>
        </div>
    </header>
    <section>
        <ng-container *ngIf="articles && articles.length > 0; else noArticles">
            <ol *ngFor="let article of articles">
                <li>
                    <app-article-card [imageURL]="article.urlToImage" [title]="article.title" 
                    [description]="article.description" [author]="article.author" 
                    [fullArticleAddress]="article.url"></app-article-card>
                </li>
            </ol>
        </ng-container>
        <ng-template #noArticles>
            <h3>No articles found</h3>
        </ng-template>
    </section>
    <footer>
        <div class="pagination">
            <button>First</button>
            <button>Previous</button>
            <span>{{ currentPage }}</span>
            <button>Next</button>
            <button>Last</button>
        </div>
    </footer>
</div>