<div>
    <section class="menu-bar">
        <ng-container *ngIf="screenHasDesktopWidth; else smallDevice">
            <h2>{{ title }}</h2>
            <ng-container *ngTemplateOutlet="menuBody"></ng-container>
        </ng-container>
    </section>    
    <ng-container *ngIf="!loading; else isLoading">
        <section class="articles-section">
            <ng-container *ngIf="articles && articles.length > 0; else noArticleFound">
                <ol *ngFor="let article of articles">
                    <li>
                        <app-article-card [imageURL]="article.urlToImage" [title]="article.title" 
                        [description]="article.description" [author]="article.author" 
                        [fullArticleAddress]="article.url"></app-article-card>
                    </li>
                </ol>
            </ng-container>
            <div>
                <div>
                    <div class="pagination">
                        <button class="pagination-btn" [hidden]="currentPage === 1" (click)="firstPage()">First</button>
                        <button class="pagination-btn" (click)="previousPage()">Previous</button>
                        <span class="pagination-btn no-hover">{{ currentPage }}</span>
                        <button class="pagination-btn" (click)="nextPage()">Next</button>
                        <button class="pagination-btn" [hidden]="currentPage === totalPages" (click)="lastPage()">Last</button>
                    </div>                    
                </div>
                <div>
                    <select [disabled]="loading" (change)="switchPageSize(comboPageSizes.value)" #comboPageSizes>
                        <ng-container *ngFor="let size of pageSizes">                    
                            <option [value]="size" [selected]="pageSize === size">{{ size }}</option>
                        </ng-container>
                    </select>
                </div>              
            </div>
        </section>
    </ng-container>
</div>

<ng-template #smallDevice>
    <button type="button" (click)="verticalMenuToggled = !verticalMenuToggled">
        <span></span>
    </button>
    <h2>{{ title }}</h2>
    <ng-container *ngIf="verticalMenuToggled" [ngTemplateOutlet]="menuBody"></ng-container>
</ng-template>

<ng-template #menuBody>
    <menu>
        <ng-container *ngFor="let topic of topics">
            <li>
                <button type="button" (click)="getEverything(topic)">{{ topic | titlecase }}</button>
            </li>        
        </ng-container>
    </menu>
</ng-template>

<ng-template #noArticleFound>
    <h3>No articles found</h3>            
</ng-template>

<ng-template #isLoading>
    <div>
        <span>
            <b>
                <i>Loading...</i>
            </b>
        </span>
    </div>
</ng-template>